<!doctype html>
<html >

<head>
    <title>Békéskerék BT, Egyedi küllők</title>
    <meta name="description" content="Békés Kerék BT-nél kiváló minőségű egyedi küllőket gyártunk, motorkerékpárokhoz, veterán autókhoz.">
    <meta name="keywords" content="">
    <meta property="og:title" content="" />
    <meta property="og:url" content="http://www.bekeskerek.com" />
    <meta property="og:type" content="company" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow" rel="stylesheet">
    <script src="./scripts/vendor/angular.min.js" type="application/javascript"></script>
    <script src="./scripts/vendor/angular-route.min.js" type="application/javascript"></script>
    <script src="./scripts/vendor/angular-sanitize.min.js" type="application/javascript"></script>
    <script src="./scripts/vendor/angular-translate.min.js" type="application/javascript"></script>
    <script src="./scripts/vendor/angular-translate-loader-static-files.min.js" type="application/javascript"></script>
    <script src="./scripts/js/app.js" type="application/javascript"></script>
</head>

<body>
    <div app ng-controller="mainCtrl">
        <header class="dark">
            <div class="container padding-sides">
                <div class="left">
                    <h1 class="heading fancy">{{'ORG' | translate }}</h1>
                </div><div class="right">
                    <div class="menu">
                        <h3 class="subheading"><a ng-click="$root.paralax.move($event,'contact')">{{'CONTACT_MENU' | translate }}</a></h3>
                        <select name="lang" id="lang" class="dark" ng-model="model.lang" ng-change="changeLang(model.lang.id)" ng-options="c as c.label for c in model.langs"></select>
                    </div>
                </div>
            </div>
        </header>
        <div ng-view></div>
        <footer>
            <div class="container padding-sides">
                
            </div>
        </footer>
    </div>
</body>

</html>

<script id="home.html" type="text/ng-template">

    <section class="hero-section" paralax-track>
        <div class="layout-fill hero">
            <div class="layout-fill hero-video">
                <video src="https://stormcraft.blob.core.windows.net/bekeskerek/videos/machine-optimized.mp4" poster="https://stormcraft.blob.core.windows.net/bekeskerek/videos/machine-optimized.jpg" preload autoplay loop></video>
            </div>
            
            <div class="hero-text container" paralax-layer="-50" paralax-offset="0%">
                <h1 class="heading">{{'TITLE' | translate }}</h1>
            </div>
        </div>
    </section>
    
    <section paralax-track>
        <div class="container padding-sides">            
            <div ng-bind-html="'P1' | translate"></div>
        </div>
    </section>
    <section paralax-track class="transparent dark-text">
        <div class="fixed layout-fill cofe-racer">

        </div>
        <div class="container padding-sides">
            <div class="left">

            </div>
            <div class="right">
                <h2 class="block-head">{{'BLOCK1' | translate }}</h2>
            </div>

        </div>
    </section>

    <section paralax-track>
        <div class="container padding-sides">
            <h2 class="block-head">{{'BLOCK2' | translate }}</h2>
            <ul>
                <li>{{'B1' | translate}}</li>
                <li>{{'B2' | translate}}</li>
                <li>{{'B3' | translate}}</li>
                <li>{{'B4' | translate}}</li>
                <!--<li>{{'B5' | translate}}</li>
                <li>{{'B6' | translate}}</li>-->
            </ul>
        </div>
    </section>

    <section paralax-track>
        <div class="container padding-sides">
           <div ng-bind-html="'P2' | translate"></div>
           <div spoke></div> 
        </div>
    </section>

    <section id="contact" paralax-track>
        <div class="container padding-sides">
            <p ng-bind-html="'CONTACT' | translate"></p>
        </div>
    </section>
</script>
