<!doctype html>
<html lang="sk">

<head>
    <title>Békéskerék BT, Egyedi küllők</title>
    <meta name="description"
        content="VÝROBA JEDINEČNÝCH ŠPICOV - PODĽA POŽIADAVIEK ZÁKAZNÍKA PRE MOTOCYKLE, VETERÁNOV.">
    <!-- <meta name="keywords" content="egyedi küllők,motorkerékpár küllők,veterán autó küllők,kerekek,felnik"> -->
    <meta property="og:title" content="Békés-Kerék BT, Egyedi Küllők" />
    <meta property="og:url" content="http://www.bekeskerek.com/sk" />
    <meta property="og:type" content="company" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow" rel="stylesheet">

    <link rel="alternate" hreflang="en" href="http://www.bekeskerek.com" />
    <link rel="alternate" hreflang="ru" href="http://www.bekeskerek.com/ru" />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-101779563-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <div app ng-controller="mainCtrl">

        <header class="dark" style="height:auto;">
            <!-- <div style="background-color: #aa0000; color:white; font-size:18px;"
                class="layout-row layout-center-center">
                <span>Kvôli problémom s dodávkami momentálne nemôžeme prijímať nové objednávky.</span>
            </div> -->
            <div class="container padding-sides layout-row">
                <div class="">
                    <h1 class="heading fancy">Békés-Kerék BT</h1>
                </div>
                <div class="flex"></div>
                <div class="">
                    <div class="menu">
                        <h3 class="subheading"><a ng-click="$root.paralax.move($event,'contact')">Kontakt</a></h3>
                        <h3 class="subheading"><a href="/sk/gallery/">Galéria</a></h3>
                        <select name="lang" id="lang" class="dark" ng-model="model.lang"
                            ng-change="changeLang(model.lang.id)"
                            ng-options="c as c.label for c in model.langs"></select>
                    </div>
                </div>
            </div>
        </header>
        <div>

            <section class="hero-section" paralax-track>
                <div class="layout-fill hero">
                    <div class="layout-fill hero-video">
                        <video src="https://stormcraft.blob.core.windows.net/bekeskerek/videos/machine-optimized.mp4"
                            poster="https://stormcraft.blob.core.windows.net/bekeskerek/videos/machine-optimized.jpg"
                            preload autoplay loop muted></video>
                    </div>

                </div>
            </section>


            <section paralax-track>
                <div class="container padding-sides">
                    <h2 class="block-head">Produkty</h2>
                    <div class="left">
                        <ul>
                            <li>Špice 2,5mm, 3,0mm, 3,5mm, 4,0mm, 4,5mm, 5,0mm, 5,25mm priemerom.</li>
                            <li>Ohyb a dĺžka pri hlave a dĺžka špicov sú prispôsobené individuálnym potrebám zákazníka.
                            </li>
                            <li>Hlava špicov je kovaná za studena a závit je valcovaný.</li>
                            <li>Povrch môže byť surový, pozinkovaný.</li>
                            <li>Matice špicu /veľkosť štvorca a valcový priemer medzi hlavou/ 5,0 mm, 5,3 mm, 6,0 mm,
                                6,5 mm, 7,0 mm, 7,5 mm.</li>
                        </ul>
                    </div>
                    <div class="right">
                        <img class="inline-img" src='/images/wheel.jpg'>
                    </div>
                    <div>
                        <div class="left">
                            <img class="inline-img" src='/images/kullo_s.jpg'>
                        </div>
                        <div class="right">
                            <img class="inline-img" src='/images/anya_s.jpg'>
                        </div>

                    </div>
                </div>
            </section>
            <!-- <section paralax-track>
                <div class="container padding-sides">
                    <div>
                        <h2>Technológia</h2>
                        <p>
                            A küllőgyártó gépre a tekercset felhelyezve görősoron keresztül egyengetjük majd méretre vágjuk és ezzel egyidőben kerül
                            fel a fej hideg kovácsolási eljárással. A hideg kovácsolás erősíti a küllő anyagszerkezetét.
                            <br> Ezután a megrendelő igényének megfelelően meghajtjuk a küllő nyakát. A következő lépésben
                            a menet mángorlási eljárással kerül a küllőre. Ez azért előnyös mert a menet készítése során
                            nem szakad meg az anyag szálszerkezete.
                        </p>
                    </div>
                    <div >
                        <h2>Alapanyag</h2>
                        <p>Az alapanyag lágy szén acél huzal C-26D. Szakítószilárdsága átmérőtől függően kb 900N/mm2. Ez 100kg-os
                            tekercsekben érkezik a huzalműből bevonat nélkül és kiváló minősége miatt nem igényel további
                            felületi megmunkálást. A kész terméket vegyi tisztítás után galvanizáljuk  hogy a megmunkálás
                            során a felületi kezelés ne sérüljön.
                            <br>
                        </p>                        
                    </div>
                    <div>
                        <h2>Erősített küllők</h2>
                        <p>A gyártási technológiánkat folyamatosan fejlesztjük és a közelmúltban kezdtük el az erősített küllők gyártását.
                            Ennek az előnye az, hogy két anyagminőséget képes egyben ötvözni.
                            A fej hajtásánál egy vastagabb, lágyabb és rugalmasabb anyagra van szükség, hogy jobban ellenálljon a terheléseknek.
                            A  küllő szára csak húzó igénybevételnek van kitéve, ezért itt vékonyabb keresztmetszet is elég. (A gyártási eljárás miatt a csökkenő keresztmetszet miatt a szakítószilárdság megnő)
                            Ezeknek a küllőknek a teherbírása nagyobb, mint a végig egy átmérővel rendelkezőknek, de a tömegük kevesebb!!
                            <br>
                        </p>
                    </div>
                    <div>
                        <p>Küllők ára típustól és mérettől függően 0,5-1,50 euró / db között van, anyával együtt.</p>
                    </div>

                </div>
            </section> -->
            <section paralax-track>
                <div class="container padding-sides">
                    <!-- <div>
                        <p>Bizonyos típusokhoz, amiket rendszeresen gyártunk( Pannonia, Csepel, Simson, MZ), ismerjük a küllő méreteit.
                            Nagy többségben azonban egyedi megrendeléseket szolgálunk ki.<br>
                            A minimum mennyiség 1 kerék, ez általában 36-40 db küllő. 1 keréken belül akár 4 fajta is lehet!( min. mennyiség 4x9 db)
                            Mivel a küllők egyedi gyártásúak, a rendelés átfutási ideje a rendeléstől függően 2-3 hét, + szállítás.</p>
                            
                            <p>A rendelés leadásakor kérem adja meg a küllő pontos paramétereit az alábbi diagram alapján:</p>
                            <p class="side-note">A számok változtatásával meg lehet adni a küllő pontos alakját.</p>
                    </div> -->
                    <div spoke nut-label="Nut"></div>
                </div>
            </section>

            <section id="contact" paralax-track>
                <div class="container padding-sides">
                    <p>Obrátiť sa môžete na nasledujúcu emailovú adresu: <a
                            href="mailto:laco@motoshop-laco.sk">laco@motoshop-laco.sk</a> alebo na
                        <br>☎ tel č: <a href="tel:+421907870729">+421 907 870 729</a>
                    </p>
                </div>
            </section>
        </div>
        <footer class="note">
            <div class="container padding-sides">
                <h2></h2>
            </div>
        </footer>
    </div>


    <script src="/scripts/vendor/angular.min.js" type="application/javascript"></script>

    <script src="/scripts/js/app.js" type="application/javascript"></script>

</body>

</html>