<!doctype html>
<html lang="ru">

<head>
    <title>Békés Kerék, Спицы под индивидуальный заказ</title>
    <meta name="description" content="Békés Kerék индивидуально производим высококачественные спицы для мотоциклов всех марок, старинных автомобилей.">
    <meta name="keywords" content="спицы под индивидуальный заказ, спицы для мотоциклов, спицы для старинных автомобилей">
    <meta property="og:title" content="Békés Kerék, Спицы под индивидуальный заказ" />
    <meta property="og:url" content="http://www.bekeskerek.com/ru" />
    <meta property="og:type" content="company" />
    <meta property="og:description" content="Békés Kerék индивидуально производим высококачественные спицы для мотоциклов всех марок, старинных автомобилей."
    />
    <meta property="og:image" content="" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow" rel="stylesheet">
    
    <link rel="alternate" hreflang="hu" href="http://www.bekeskerek.com/hu" />
    <link rel="alternate" hreflang="en" href="http://www.bekeskerek.com" />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-101779563-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <div app ng-controller="mainCtrl">
        <header class="dark">
            <div class="container padding-sides">
                <div class="left">
                    <h1 class="heading fancy">Békés-Kerék</h1>
                </div><div class="right">
                    <div class="menu">
                        <h3 class="subheading"><a ng-click="$root.paralax.move($event,'contact')">Контакты</a></h3>
                        <select name="lang" id="lang" class="dark" ng-model="model.lang" ng-change="changeLang(model.lang.id)" ng-options="c as c.label for c in model.langs"></select>
                    </div>
                </div>
            </div>
        </header>
        <div>

            <section class="hero-section" paralax-track>
                <div class="layout-fill hero">
                    <div class="layout-fill hero-video">
                        <video src="https://stormcraft.blob.core.windows.net/bekeskerek/videos/machine-optimized.mp4" poster="https://stormcraft.blob.core.windows.net/bekeskerek/videos/machine-optimized.jpg"
                            preload autoplay loop></video>
                    </div>

                    <!--<div class="hero-text container" paralax-layer="-50" paralax-offset="0%">
                <h1 class="heading">{{'TITLE' | translate }}</h1>               
            </div>-->
                    <!--<div class="hero-text container">
                <div class="logo"></div>
            </div>-->
                </div>
            </section>

            <section paralax-track>
                <div class="container padding-sides">
                    <div>
                        <h2>Приветствую!!!</h2>
                        <p>Меня зовут Чотари Шандор. Будучи мотогонщиком-ветераном я заметил, что на круглосуточных соревнованиях
                            есть потребность в спицах хорошего качества. Наша компания это семейный бизнес, который с 1998
                            года занимается изготовлением спиц для мотоциклов и стариннных автомобилей, а также ниппелей
                            к спицам. Первоначально мы производили спицы только как запчасти, но через некоторое время появилась
                            необходимость в их профессиональной установке, поэтому мы расширили поле нашей деятельности.
                            ООО «Békés-Kerék» возникло в 2005 году в результате сотрудничества моего отца, моего младшего
                            брата и меня. С течением времени наш семейный бизнес изготовил спицы для множества марок мотоциклов
                            и старинных автомобилей, будь это мотоцикл «Паннония» или автомобиль «Бугатти». За истёкшее время,
                            постоянно развиваясь, мы стараемся удовлетворять индивидуальные потребности наших заказчиков.</p>
                    </div>
                </div>
            </section>
            <section paralax-track class="transparent dark-text">
                <div class="fixed layout-fill cofe-racer">

                </div>
                <div class="container padding-sides">
                    <h2 class="block-head">СПИЦЫ ПОД ИНДИВИДУАЛЬНЫЙ ЗАКАЗ</h2>
                    <!--<div class="left">

            </div>
            <div class="right">
               
            </div>-->

                </div>
            </section>

            <section paralax-track>
                <div class="container padding-sides">
                    <h2 class="block-head">НАША ПРОДУКЦИЯ</h2>
                    <ul>
                        <li>Диаметры спиц : 2,5 мм; 3,0 мм; 3,5 мм; 4,0 мм; 4,5 мм</li>
                        <li>Длина спицы, диаметр ниппеля, изгиб хвостика и его длина изготавливаются индивидуально к потребностям
                            заказчика.</li>
                        <li>Головка спицы изготовлена способом холодного прессования, а резьба – накатанная.</li>
                        <li>Покрытие спиц может быть «без покрытия» или «оцинкованное».</li>
                        <!--<li>{{'B5' | translate}}</li>
                <li>{{'B6' | translate}}</li>-->
                    </ul>
                    <div class="right">
                        <img class="inline-img" src='/images/wheel.jpg'>
                    </div><div>
                        <div class="left">
                                <img class="inline-img" src='/images/kullo_s.jpg'>
                            </div><div class="right">
                                    <img class="inline-img" src='/images/anya_s.jpg'>
                            </div>
                        
                    </div>
                </div>
                
            </section>

            <section paralax-track>
                    <div class="container padding-sides">
                        <div>
                            <h2>Технология производства</h2>
                            <p>
                                    На станок по изготовлению спиц помещаем моток проволоки и выпрямляем  роликовым способом. Затем режем по размерам и одновременно с тем набиваем шляпку методом холодной ковки.  Холодная ковка усиливает структуру материала спицы. 
                                <br>После этого согласно желанию заказчика загибаем хвостик спицы. Следующим шагом специальным станком накатываем резьбу. Преимущество накатывания резьбы в том, что при этом не рвётся волокнистая структура метала. С такими способами сохраняются все свойства  стали.

                            </p>
                        </div>
                        <div >
                            <h2>Материал</h2>
                            <p>Материал это мягкая стальная проволока С26Д, C38Д. Предел прочности на разрыв в зависимости от диаметра приблизительно 900N/mm2. Сталь поступает из проволочного завода в стокилограмовых мотках без покрытия и благодаря отличному качеству не требует дальнейшей наружной обработки. Готовую продукцию после химической очистки гальванизируем чтобы избежать повреждения поверхности во время обработки. 
                                <br>
                            </p>                        
                        </div>
                        <div>
                            <h2>Усиленные спицы (редукционные)</h2>
                            <p>Технологию производства постоянно развиваем и в недавнем прошлом начали производство редукцированных спиц. Преимущество этого производства в том, что он может объединить два качественных материала вместе. На изгибе хвостика необходим более толстый, мягкий и пружинистый метал, который будет лучше выдерживать нагрузки. Туловище спицы подвергается только силе растяжения, поэтому сюда подходит и меньше диаметр стали. (Из-за производственного процесса с уменьшением диаметра возрастает сила растяжения). Редукцированные спицы более сильные, чем простые спицы, но намного легче!!  
                                <br>
                            </p>
                        </div>
                        <div>
                            <p>Цена редукцированных спиц в зависимости от типа и диаметра вместе с ниппелями от 0,5 до 1,5 евро за штуку. </p>
                        </div>
    
                    </div>
                </section>


            <section paralax-track>
                <div class="container padding-sides">
                    <div>
                        <p>Все спицы изготавливаются индивидуально по размерам  заказчика. Обычно в одном колесе минимальное количество спиц 36-40 штук. В одном колесе может быть и 4 разных размера спиц (минимальное количество для заказа 4х10 штук). Так как спицы индивидуального производства, то сроки изготовления в зависимости от количества работы скользящие, приблизительно 2-4  недели + доставка. </p>
                        <p>При сдаче заказа просим давать точные размеры спицы согласно диаграме ниже:</p>
                    </div>
                    <div spoke></div>
                </div>
            </section>

            <section id="contact" paralax-track>
                <div class="container padding-sides">
                    <p>УВАЖАЕМЫЕ гости нашего сайта из стран бывшего СНГ, которых интересует изготовление мотоспиц под заказ.
                        Просьба обращаться к нашему официальному представителю по странах бывшего СНГ Мигович Аттиле, маил-адрес
                        <a href=\ "mailto:istenostora68@ukr.net\">istenostora68@ukr.net</a></p>
                </div>
            </section>
        </div>
        <footer>
            <div class="container padding-sides">

            </div>
        </footer>
    </div>
    <script src="/scripts/vendor/angular.min.js" type="application/javascript"></script>
  
    <script src="/scripts/js/app.js" type="application/javascript"></script>
    
</body>

</html>